 li.bullet{
    list-style: disc;
}
 

#btn_del_author_row {
  padding: 6px 12px;
}


#searchBook {
  cursor: pointer;
}


label.searchcell_first {
  margin-left: 2%;
}

label.searchcell_second {
  margin-left: 6%;
}

