extends layout.pug

include utils.pug

block content 

  +displayErrors(errors)

  form(method='post' action=`/park/${attraction.parkId}/attraction/add`)
    include attraction-form-fields.pug
    div.py-4
      button.btn.btn-primary(type='submit') Add Attraction
      a.btn.btn-warning.ml-2(href=`/park/${attraction.parkId}`) Cancel