extends layout.pug

include utils.pug

block content 

  +displayErrors(errors)

  form(method='post' action=`/park/edit/${park.id}`)
    include park-form-fields.pug
    div.py-4
      button.btn.btn-primary(type='submit') Update Park
      a.btn.btn-warning.ml-2(href=`/park/${park.id}`) Cancel