extends layout.pug

mixin selectOfFavoriteBeatle(optionName)
  if (favoriteBeatle == optionName)
    option(value= optionName selected='selected')= optionName
  else     
    option(value= optionName) #{optionName}

block errorsBlock
  include includes/errors.pug 

block contentBlock
  form.font-weight-bold(method="post" action="/create-interesting") 
    fieldset
      include includes/form-inputs.pug
    div.form-group
      label(for="age") Age:
      input.form-control.form-control-sm(type="number" name="age" value= age placeholder="age")
    div.form-group  
      label(for="favoriteBeatle") Favorite Beatle:
      select(name="favoriteBeatle") 
        option(value="") --Please choose an option--
        +selectOfFavoriteBeatle("John")
        +selectOfFavoriteBeatle("Paul")
        +selectOfFavoriteBeatle("Ringo")
        +selectOfFavoriteBeatle("George")
        +selectOfFavoriteBeatle('Scooby-Doo')
    div.form-group    
      label(for="iceCream") Likes Icecream:  
      input(type="checkbox" name="iceCream" checked= iceCream)
    input.form-control-sm.btn-primary(type="submit" value="Create Interesting User")