extends layout.pug 

block errorsBlock
  include includes/errors.pug
     
block contentBlock
  form.font-weight-bold(method="post" action="/create") 
    fieldset 
      include includes/form-inputs.pug
      input.form-control-sm.btn-primary(type="submit" value="Create User")