extends layout.pug 
block content 
  .py-2
    a.btn.btn-success(href='/transaction/add' role='button') Add Transaction 
  div.transactions-container     
  script(src='/js/transaction-list.js')      