extends layout.pug 
block content
  .errors-container 
  form.add-form
    .form-group 
      label(for="symbol") Symbol: 
      input.form-control(type="text" name="symbol" placeholder="Symbol Stock") 
    .form-group 
      label(for="name") Stock: 
      input.form-control(type="text" name="name" placeholder="Symbol Stock")   
    .form-group 
      label(for="yearListed") Year Listed: 
      input.form-control(type="number" name="yearListed" placeholder="Listed Year Stock")   
    .form-group 
      label(for="marketShares") Market Shares: 
      input.form-control(type="text" name="marketShares" placeholder="Market Shares") 
    .form-group 
      label(for="marketValue") Market Capitalization: 
      input.form-control(type="text" name="marketValue" placeholder="Market Value") 
    .form-group 
      label(for="info") Info 
      input.form-control(type="text" name="info" placeholder="info") 
    button.btn.btn-primary(type="submit") Add
    a.btn.btn-warning.ml-2(href="/stock") Cancel
  script(src="/js/stock-add.js")  

