include utils.pug

input(type='hidden' name='_csrf' value= csrfToken)
+rowForm('Title:', 'title', book.title, 'Title')
+rowForm('Author:', 'author', book.author, 'Author')
+rowForm('Release Date:', 'releaseDate', book.releaseDate, 'Release Date - Ex: 2022-07-25')
+rowForm('Page count:', 'pageCount', book.pageCount, 'Page count')
+rowForm('publisher:', 'publisher', book.publisher, 'publisher')
