extends layout.pug

include utils.pug 

block content

  +validationErrorSummary(errors)

  form(method='post' action=`/book/edit/${book.id}`)
    include book-form-fields.pug      
    button.btn.btn-primary(type="submit") Update Book
    a.btn.btn-warning.ml-2(href='/') Cancel   