mixin validationErrorSummary(errors)
  if errors
    div.alert.alert-danger(role='alert')
      p The following error(s) occurred:
      ul
        each error in errors
          li= error

mixin rowForm(labelName, fieldName, fieldValue, placeholderText)
  div.form-group
    label(for=nameField)= labelName
    input(type='text' id= fieldName name= fieldName value= fieldValue placeholder= placeholderText class='form-control')

