button {
    background-color: aliceblue;
}

input {
    height: 52px;
    width: 52px;
    margin: 2px;
    border: 2px solid #D3D6DA;
    text-align: center;
    font-family: "Libre Franklin", sans-serif;
    font-size: 26px;
    font-weight: 800;
}

input:focus {
    outline: none;
}

.fill {
    border: 2px solid black;
}


.empty {
    border: 2px solid #D3D6DA;
}

.on-position {
    background-color: #6AAA64;
    color: white;
    border: 2px solid #6AAA64;
}

.off-position {
    background-color: #C9B458;
    color: white;
    border: 2px solid #C9B458;
}

.not-in-word {
    background-color: #787C7E;
    color: white;
    border: 2px solid #787C7E;
}


@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-10px);
    }

    50% {
        transform: translateX(10px);
    }

    75% {
        transform: translateX(-10px);
    }

    100% {
        transform: translateX(0);
    }
}

.shake {
    animation: shake 0.5s ease-in-out;
}



@keyframes flip {
    0% {
        transform: perspective(400px) rotateX(0deg);
    }

    100% {
        transform: perspective(400px) rotateX(180deg);
    }
}

.flip0 {
    animation: flip 0.9s ease-in-out;
}

.flip1 {
    animation: flip 0.9s ease-in-out 0.1s;
}

.flip2 {
    animation: flip 0.9s ease-in-out 0.2s;
}

.flip3 {
    animation: flip 0.9s ease-in-out 0.3s;
}

.flip4 {
    animation: flip 0.9s ease-in-out 0.4s;
}

@keyframes jump-even {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(15px);
    }

    50% {
        transform: translateY(-15px);
    }

    75% {
        transform: translateY(15px);
    }

    100% {
        transform: translateY(0);
    }

}

.jump-even {
    animation: jump-even 0.5s ease-in-out 0.2s;
}




@keyframes jump-odd {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(15px);
    }

    50% {
        transform: translateY(-15px);
    }

    75% {
        transform: translateY(15px);
    }

    100% {
        transform: translateY(0);
    }

}

.jump-odd {
    animation: jump-odd 0.5s ease-in-out 0.4s;
}