extends layout.pug 

include utils.pug 

block content 
  h3(class='pb-3'): em for #{attraction.attractionName}
  +validationErrorSummary(errors)
  form(method='post' action=`/attraction/${attraction.id}/visit/add`) 
    include visit-form-fields.pug 
    div.py-4
      button.btn.btn-primary(type='submit') Add Visit
      a.btn.btn-warning.ml-2(href=`/attraction/${visit.attractionId}` role='button') Cancel